.icon--circle-plus:before {
  content: "\e910";
}
.icon--plus:before {
  content: "\e920";
}
.icon--checkmark:before {
  content: "\e933";
}
.icon--x:before {
  content: "\e934";
}
.icon--circle-x:before {
  content: "\e935";
}
.icon--circle-minus:before {
  content: "\e937";
}
.icon--circe-plus:before {
  content: "\e938";
}
.icon--ma:before {
  content: "\e93b";
}
.icon--eye:before {
  content: "\e93c";
}
.icon--stacks:before {
  content: "\e93d";
}
.icon--credit-card:before {
  content: "\e93e";
}
.icon--barcode:before {
  content: "\e93f";
}
.icon--trash-can:before {
  content: "\e941";
}
.icon--snapchat:before {
  content: "\e942";
}
.icon--instagram:before {
  content: "\e943";
}
.icon--twitter:before {
  content: "\e944";
}
.icon--google-plus:before {
  content: "\e945";
}
.icon--facebook:before {
  content: "\e946";
}
.icon--circle-checkmark:before {
  content: "\e900";
}
.icon--circle-arrow-down:before {
  content: "\e901";
}
.icon--circle-arrow--up:before {
  content: "\e902";
}
.icon--circle-ruler:before {
  content: "\e903";
}
.icon--iphone:before {
  content: "\e904";
}
.icon--receipt:before {
  content: "\e905";
}
.icon--identification-card:before {
  content: "\e906";
}
.icon--envelope-document:before {
  content: "\e907";
}
.icon--envelope-mail-open:before {
  content: "\e908";
}
.icon--envelope-mail-closed:before {
  content: "\e909";
}
.icon--bicycle:before {
  content: "\e90a";
}
.icon--bicycle-fast:before {
  content: "\e90b";
}
.icon--placemarker:before {
  content: "\e90c";
}
.icon--pencil:before {
  content: "\e90d";
}
.icon--ruler:before {
  content: "\e90e";
}
.icon--star:before {
  content: "\e90f";
}
.icon--people:before {
  content: "\e911";
}
.icon--bullet-list:before {
  content: "\e912";
}
.icon--bell:before {
  content: "\e913";
}
.icon--scissors:before {
  content: "\e914";
}
.icon--sewing-machine:before {
  content: "\e915";
}
.icon--globe:before {
  content: "\e916";
}
.icon--airplane:before {
  content: "\e917";
}
.icon--briefcase:before {
  content: "\e918";
}
.icon--hangtag:before {
  content: "\e919";
}
.icon--square-stack:before {
  content: "\e91a";
}
.icon--check:before {
  content: "\e91b";
}
.icon--lock-locked:before {
  content: "\e91c";
}
.icon--box-face:before {
  content: "\e91d";
}
.icon--box-top:before {
  content: "\e91e";
}
.icon--house:before {
  content: "\e91f";
}
.icon--magnify-plus:before {
  content: "\e921";
}
.icon--magnify-minus:before {
  content: "\e922";
}
.icon--weekender:before {
  content: "\e923";
}
.icon--exit:before {
  content: "\e924";
}
.icon--three-circles:before {
  content: "\e925";
}
.icon--clock:before {
  content: "\e926";
}
.icon--stack:before {
  content: "\e927";
}
.icon--document-long:before {
  content: "\e928";
}
.icon--person:before {
  content: "\e929";
}
.icon--gift:before {
  content: "\e92b";
}
.icon--ribbon:before {
  content: "\e92c";
}
.icon--hanger:before {
  content: "\e92d";
}
.icon--expand:before {
  content: "\e92e";
}
.icon--up:before {
  content: "\e92f";
}
.icon--arrow-left:before {
  content: "\e930";
}
.icon--hamburger:before {
  content: "\e931";
}
.icon--circle:before {
  content: "\e932";
}
.icon--magnify:before {
  content: "\e92a";
}
