/*

   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.

 */
.hover-black:hover,
.hover-black:focus {           color: var(--black); }
.hover-grey:hover,
.hover-grey:focus {            color: var(--grey); }
.hover-dark-grey:hover,
.hover-darkgrey:focus{       color: var(--dark-grey); }
.hover-medium-grey:hover,
.hover-medium-grey:focus {     color: var(--medium-grey); }
.hover-light-grey:hover,
.hover-light-grey:focus {      color: var(--light-grey); }
.hover-lightest-grey:hover,
.hover-lightest-grey:focus  {  color: var(--lightest-grey); }
.hover-copper:focus,
.hover-copper:hover {          color: var(--copper); }
.hover-white:hover,
.hover-white:focus {           color: var(--white); }

.hover-bg-black:hover,
.hover-bg-black:focus {           background-color: var(--black); }
.hover-bg-grey:hover,
.hover-bg-grey:focus {            background-color: var(--grey); }
.hover-bg-dark-grey:hover,
.hover-bg-darkgrey:focus{       background-color: var(--dark-grey); }
.hover-bg-medium-grey:hover,
.hover-bg-medium-grey:focus {     background-color: var(--medium-grey); }
.hover-bg-light-grey:hover,
.hover-bg-light-grey:focus {      background-color: var(--light-grey); }
.hover-bg-lightest-grey:hover,
.hover-bg-lightest-grey:focus  {  background-color: var(--lightest-grey); }
.hover-bg-copper:focus,
.hover-bg-copper:hover {          background-color: var(--copper); }
.hover-bg-white:hover,
.hover-bg-white:focus {           background-color: var(--white); }
