/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.striped--black:nth-child(odd) {
  background-color: var(--black);
}

.striped--grey:nth-child(odd) {
  background-color: var(--grey);
}

.striped--dark-grey:nth-child(odd) {
  background-color: var(--dark-grey);
}

.striped--medium-grey:nth-child(odd) {
  background-color: var(--medium-grey);
}

.striped--light-grey:nth-child(odd) {
  background-color: var(--light-grey);
}

.striped--lightest-grey:nth-child(odd) {
  background-color: var(--lightest-grey);
}

.striped--white:nth-child(odd) {
  background-color: var(--white);
}

.striped--copper:nth-child(odd) {
  background-color: var(--copper);
}
