/*

    VARIABLES

*/

@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);

:root {
  --base-size: 16px;

  --sans-serif: "avenir next", avenir, helvetica, "helvetica neue", arial,
    sans-serif;
  --serif: times, serif;

  --font-size-headline: calc(4.5 * var(--base-size));
  --font-size-subheadline: calc(3 * var(--base-size));
  --font-size-1: calc(3 * var(--base-size));
  --font-size-2: calc(2 * var(--base-size));
  --font-size-3: calc(1.25 * var(--base-size));
  --font-size-4: var(--base-size);
  --font-size-5: calc(0.875 * var(--base-size));
  --font-size-6: calc(0.75 * var(--base-size));

  --letter-spacing-tight: -0.05em;
  --letter-spacing-1: 0.1em;
  --letter-spacing-2: 0.25em;

  --line-height-solid: 1;
  --line-height-title: 1.25;
  --line-height-copy: 1.5;

  --spacing-none: 0;
  --spacing-extra-small: calc(0.5 * var(--base-size));
  --spacing-small: var(--base-size);
  --spacing-medium: calc(1.5 * var(--base-size));
  --spacing-large: calc(2 * var(--base-size));
  --spacing-extra-large: calc(2.5 * var(--base-size));
  --spacing-extra-extra-large: calc(3 * var(--base-size));
  --spacing-extra-extra-extra-large: calc(3.5 * var(--base-size));

  --height-1: calc(0.5 * var(--base-size));
  --height-2: var(--base-size);
  --height-3: calc(1.5 * var(--base-size));
  --height-4: calc(2 * var(--base-size));
  --height-5: calc(2.5 * var(--base-size));
  --height-6: calc(3 * var(--base-size));
  --height-7: calc(3.5 * var(--base-size));
  --height-8: calc(4 * var(--base-size));
  --height-9: calc(4.5 * var(--base-size));
  --height-10: calc(5 * var(--base-size));
  --height-11: calc(5.5 * var(--base-size));
  --height-12: calc(6 * var(--base-size));
  --height-13: calc(6.5 * var(--base-size));
  --height-14: calc(7 * var(--base-size));
  --height-15: calc(7.5 * var(--base-size));
  --height-16: calc(8 * var(--base-size));

  --width-1: calc(0.5 * var(--base-size));
  --width-2: var(--base-size);
  --width-3: calc(1.5 * var(--base-size));
  --width-4: calc(2 * var(--base-size));
  --width-5: calc(2.5 * var(--base-size));
  --width-6: calc(3 * var(--base-size));
  --width-7: calc(3.5 * var(--base-size));
  --width-8: calc(4 * var(--base-size));
  --width-9: calc(4.5 * var(--base-size));
  --width-10: calc(5 * var(--base-size));
  --width-11: calc(5.5 * var(--base-size));
  --width-12: calc(6 * var(--base-size));
  --width-13: calc(6.5 * var(--base-size));
  --width-14: calc(7 * var(--base-size));
  --width-15: calc(7.5 * var(--base-size));
  --width-16: calc(8 * var(--base-size));

  --max-width-1: calc(0.5 * var(--base-size));
  --max-width-2: var(--base-size);
  --max-width-3: calc(1.5 * var(--base-size));
  --max-width-4: calc(2 * var(--base-size));
  --max-width-5: calc(2.5 * var(--base-size));
  --max-width-6: calc(3 * var(--base-size));
  --max-width-7: calc(3.5 * var(--base-size));
  --max-width-8: calc(4 * var(--base-size));
  --max-width-9: calc(4.5 * var(--base-size));
  --max-width-10: calc(5 * var(--base-size));
  --max-width-11: calc(5.5 * var(--base-size));
  --max-width-12: calc(6 * var(--base-size));
  --max-width-13: calc(6.5 * var(--base-size));
  --max-width-14: calc(7 * var(--base-size));
  --max-width-15: calc(7.5 * var(--base-size));
  --max-width-16: calc(8 * var(--base-size));

  --col-1: calc(4 * var(--base-size));
  --col-2: calc(8 * var(--base-size));
  --col-3: calc(12 * var(--base-size));
  --col-4: calc(16 * var(--base-size));
  --col-5: calc(20 * var(--base-size));
  --col-6: calc(24 * var(--base-size));
  --col-7: calc(28 * var(--base-size));
  --col-8: calc(32 * var(--base-size));
  --col-9: calc(36 * var(--base-size));
  --col-10: calc(40 * var(--base-size));
  --col-11: calc(44 * var(--base-size));
  --col-12: calc(48 * var(--base-size));
  --col-13: calc(52 * var(--base-size));
  --col-14: calc(56 * var(--base-size));
  --col-15: calc(60 * var(--base-size));
  --col-16: calc(64 * var(--base-size));

  --border-radius-none: 0;
  --border-radius-1: calc(0.125 * var(--base-size));
  --border-radius-2: calc(0.25 * var(--base-size));
  --border-radius-3: calc(0.5 * var(--base-size));
  --border-radius-4: var(--base-size);
  --border-radius-circle: 100%;
  --border-radius-pill: 9999px;

  --border-width-none: 0;
  --border-width-1: calc(0.125 * var(--base-size));
  --border-width-2: calc(0.25 * var(--base-size));
  --border-width-3: calc(0.5 * var(--base-size));
  --border-width-4: var(--base-size);
  --border-width-5: calc(2 * var(--base-size));

  --box-shadow-1: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-3: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-4: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-5: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);

  --black: #000;
  --white: #fff;
  --grey: #9e9e9e;
  --dark-grey: #424242;
  --medium-grey: #808284;
  --light-grey: #e0e0e0;
  --lightest-grey: #f1f1f1;
  --copper: #bb8b7d;

  --dark-blue: #1a237e;
  --blue: #3f51b5;
  --light-blue: #e8eaf6;
  --dark-green: #004d40;
  --green: #009688;
  --light-green: #e0f2f1;
  --dark-red: #dd2c00;
  --red: #ff3d00;
  --orange: #ffc107;
  --purple: #9c27b0;
  --french-vanilla: #fff8e1;
  --pink: #ea80fc;
  --cyan: #80d8ff;
  --web-surfin-blue: #2196f3;
  --daft-pink: #e91e63;
  --dark-daft-pink: #880e4f;
  --rose: #f48fb1;

  --brand-copper: #bb8b7d;
  --brand-grey: #808284;
  --brand-dark-grey: #4c4c4b;
  --brand-medium-grey: #a3a5a7;
  --brand-light-grey: #dfe0e1;
  --brand-tone-grey: #f7f7f8;
  --brand-blue: #0264d6;
  --brand-navy: #182677;
  --brand-green: #009688;
  --brand-error-red: #cb5332;

  --transparent: transparent;

  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-05: rgba(0, 0, 0, 0.05);
  --black-025: rgba(0, 0, 0, 0.025);
  --black-0125: rgba(0, 0, 0, 0.0125);

  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-025: rgba(255, 255, 255, 0.025);
  --white-0125: rgba(255, 255, 255, 0.0125);
}
